[submodule "Crawler"]
	path = Crawler
	url = git@github.com:SearchEngineDesign/Crawler.git
[submodule "parser"]
	path = parser
	url = git@github.com:SearchEngineDesign/parser.git
[submodule "frontier"]
	path = frontier
	url = git@github.com:SearchEngineDesign/frontier.git
[submodule "threading"]
	path = threading
	url = git@github.com:SearchEngineDesign/threading.git
[submodule "index"]
	path = index
	url = git@github.com:SearchEngineDesign/index.git
[submodule "isr"]
	path = isr
	url = https://github.com/SearchEngineDesign/isr.git
[submodule "queryCompiler"]
	path = queryCompiler
	url = https://github.com/SearchEngineDesign/queryCompiler.git
